/*
 * These are styles of within the component.
 * The basic positioning and sizing is set in the main CSS file
 * in order to avoid flickering.
 */

footer {
  /* background: linear-gradient(to bottom, var(--primary-colour), var(--secondary-colour)); */
  background: var(--primary-colour);
  padding: 3ex 0 4ex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.copyright {}

.footer-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-icons li {
  margin-right: 10px; /* Adjust spacing as needed */
}

/* Set margin, not padding and height, not width. */
fa-icon {
  height: 1.5em;
  margin-right: 2em;
}
