#newsletter {
  text-align: center;
  padding: 0 20px 30px 20px;
  background: lightcyan;
  border: 3px mediumseagreen solid;
  border-radius: 7px;
}

#tagline {
  font-style: italic;
}

input[type=email] {
  width: 100%;
  padding: 7px;
}

button {
  padding: 7px;
}

fa-icon[name=spinner] {
  display: inline-block; /* Without this it doesn't spin. */
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#flash {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

#flash.success {
  background: mediumseagreen;
  text-align: center;
}

#flash.error {
  background: indianred;
}
