;; TODO: A different picture of me or of something, maybe a drawing.
{:key :about :path "/about" :title "About Jakub" :heading "About me" :content
 [[:h1 "About me"]
  [:p "I’ve always been the " [:strong "black\u00A0sheep"] ". I didn't enjoy the activities that I as a boy was supposed to enjoy like football or socialising much with other children. I never cared to fit in. My biggest joy has always been the nature, walking in the countryside and being in silence."]
  [:p "While my peers were go-go-go, without giving much thought to where is it exactly they were going, I was " [:strong "deeply\u00A0questioning"] " the path that everyone seemed to be so convinced I must trod on. My inner stillness allowed me to listen to my intuition, which lead me to drop out of secondary school, something that in my conservative home town pissed off everyone, but I knew my path was different. It's funny how people get offended so deeply if you live your own life on your own terms."]
  [:p "By the age of 20 I found myself in London, improving my very poor English and working as a programmer. My " [:strong "deep\u00A0curiosity"] " about life made me use most of my money for travelling and I spent over a decade meeting new cultures and people from all walks of life, seeing what they were up to and what the life was about."]
  [:p "When I was 27, I moved to Barcelona. I lived in a camper van parked 10 minutes from the beach in what was then a rough, albeit slowly gentrifying neighbourhood. I felt a real urge to start " [:strong "meditation"] ". I did, using the Headspace app (thank you Andy!) and to my big surprise there were noticeable changes to how I felt in just one month of 10-15 minutes long meditations. I kept meditating, on and off, and one day I started to feel energies around me."]
  [:p "At the age of 30 I moved to Mexico City and had my " [:strong "psychic\u00A0opening"] " there. I started to get premonitions that came true, visions and was able to communicate with passed-away beings. While that was fun, the real gift for me was " [:strong "healing"] ", which to my greatest surprise I found I was able to do with great results. Prior to this I only knew Reiki, I used to go to sessions fairly regularly, but it wasn't even scratching the surface of the healing that was coming through me."]
  [:p "I shared these things with my good friend of many years, a wise older woman from Ireland called Patricia. She turned out to be a very acute psychic, and more importantly realised the Self already in her teens and she " [:strong "guided\u00A0me"] " through my own awakening 4 years later. She made a huge impact on me and I immediately knew that what I really wanted to do in my life was to guide people and help them out on their own healing and awakening journey."]
  [:p "Apart from Patricia, the " [:a {:href :self-realisation} "awakening"] " itself had an immense impact on me. Before that I used to suffer from deep depression and I was a heavy drinker with very poor sense regarding to choosing partners. The awakening wipe all this out. Sure, it was a gradual work of these 4 years in the larger context of a life towards more consciousness, but the big change really happened upon awakening and shortly afterwards, upon stabilising the realisation."]
  [:p "I want to share these insights with others, so they can also live in " [:em "peace beyond all understanding"] ", from a place of true freedom (result of healing and deconditioning) and wisdom that passes through us once we clear our being."]
  [:p "If you feel we've got something to talk about, feel free to " [:a {:href :contact} "contact me"] "."]]}
