{:key :contact :path "/contact" :title "Contact spiritual anarchy" :heading "Contact" :content
 [[:h1 "Contact us"]
  [:section
   [:p "klsdfjkl askjf kjsdfjkl skjlfjkl asklj fljksdf ljkasdlkjf jklsafjkl aslkjf ljkadslkjf ljksdlk fjlaksdfkl aslkjf jklasdklfj aksljdf jklaslkjf lkjadsfklj kjlsdf jklakljdf kljaslkj f"]
   [:p.tagline "Looking forward to connecting with you!"]

   [:div#contact-buttons.buttons
    [:div
     [:my-email
      [:a.button.blue
       [:fa-icon {:name "envelope" :colour "white"}] "Email me"]]]]]

  [:section#newsletter [:my-newsletter]]]}
