{:key :services :path "/services" :title "Jakub's spiritual offering" :heading "Services" :content
 [[:h1 "Services"]
  [:p {:id "tagline"} "Supporting your spiritual journey with personalised guidance, astrology readings, and healing practices."]

  [:section#spiritual-guidance
   [:h2 "Spiritual guidance"]
   [:p {:style "margin-top: 20px;"} "Engage in donation-based sessions focused on helping you find clarity and peace through conversation and spiritual insight."]
   [:div {:style "margin-top: 40px;"}
    [:a.button.blue {:href :services-guidance} "Tell me more"]]]

  [:div {:style "margin-bottom: 20px"} [:my-newsletter]]

  [:section#astrology-reading
   [:h2 "Intuitive astrology reading"]
   [:p {:style "margin-top: 20px;"} "Deepen your self-understanding with a detailed astrology reading. Discover the insights your birth chart holds."]
   [:service-info {:style {:font-size "12pt"}}] ;; FIXME: This should use --default-font-size var.
   [:div {:style "margin-top: 40px;"}
    [:a.button.blue {:href :services-reading} "Tell me more"]]]

  [:section#energy-healing
   [:div.columns
    [:div {:style "width: 33%"}
     [:img.thumbnail {:src "/assets/healing.jpg" :height 200}]]

    [:div {:style "width: 66%"}
     [:h2 "Remote energy healing"]
     [:p {:style "margin-top: 20px;"} "Experience powerful energy healing from a distance. Balance your energies and promote well-being."]
     [:service-info {:style {:font-size "12pt"}}]
     [:div {:style "margin-top: 40px;"}]

     [:a.button.blue {:href :services-healing} "Tell me more"]]]]]}
