html, body {
  height: 100%;
}

/* Mobile */
@media (min-width: 768px) {
  .main {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
}

/* Large screen */
@media (min-width: 768px) {
  .main {
    grid-template-columns: 260px 1fr; /* Navigation on the left, main content on the right */
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }
}

my-header { grid-area: header; }
my-nav { grid-area: nav; }
my-main { grid-area: main; }
my-footer { grid-area: footer; }
