{:key :wiki-diy :path "/wiki/diy" :title "Spiritual anarchy wiki: DIY" :heading "DIY" :content
 [[:h1 "DIY"]
  [:h2 "Types of awakenings"]
  [:h3 "Top-down awakenings"]
  [:p ""]
  [:h3 "Bottom-up awakenings"]
  [:p ""]]}
