{:key :wiki-hall-of-fame :path "/wiki/hall-of-fame" :title "Spiritual anarchy wiki: hall of fame" :heading "Hall of fame" :content
 [[:h1 "Hall of fame"]
  [:h2 "Zen master Ikkyu"]
  [:p "Ikkyu was a 15th-century Japanese Zen master who saw through the hypocrisy of monks and spent much of his time hanging out in brothels and drinking sake. Unlike other monks who avoided pleasure, he fully embraced life’s experiences, saying that enlightenment is not about rejection but deep understanding."]
  [:p "One of his best moments? Once, he was given a ceremonial robe and officially recognized as a Zen master. Instead of acting with honor, he wiped his ass with the robe to show that titles and formalities meant nothing! "]
  [:p " He also loved shocking people—walking into temples with prostitutes, declaring that sex and spirituality were not separate. His poetry is still some of the rawest and most profound Zen writing out there."]]}
